<div class="container">
  <h1 class="mb-5">Assignments</h1>
  <div
    class="row gap-3 g-0 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4"
  >
    <div
      *ngFor="let assignment of assignments"
      class="card"
      style="width: 18rem"
    >
      <img
        style="height: 180px"
        src="./../../assets/example-logo.png"
        class="img-fluid"
      />
      <div class="card-body">
        <h5 class="card-title">{{ assignment.name }}</h5>
        <p class="card-text">{{ assignment.description }}</p>
        <div class="d-flex justify-content-between">
          <a href="#" class="btn btn-outline-danger">Delete</a>
          <a href="#" class="btn btn-outline-primary">Edit</a>
        </div>
      </div>
    </div>

    <ng-container *ngIf="loading">
      <div *ngFor="let i of [1, 2, 3]" class="card">
        <div style="height: 180px" class="bg-dark bg-opacity-25"></div>
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>

          <div class="d-flex justify-content-between">
            <a
              href="#"
              class="btn btn-outline-danger disabled placeholder col-3"
            ></a>
            <a
              href="#"
              class="btn btn-outline-primary disabled placeholder col-2"
            ></a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
