$secondary: #4D4D4D;
$primary: #4a49cb;
$danger: #fc4a4a;
$warning: #fc9a1a;

$btn-font-weight: 600;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
